.cards button{
    background-color: #0277bd;
    width: 150px;
    height: 40px;
    color: white;
    margin-top: 5%;
}
.cards form {
    margin-top: 7.5%;
}
.btn{
    background-color: #0277bd;
    width: 85px;
    height: 25px;

}
.cards{
    box-shadow: 0 5px 8px rgba(0,0,0,0.2);
    width: 50%;
    height: 450px;
    position: absolute;
    top: 20%;
    left: 25%;
    background-color: white;
    gap: 40px;
}